<div class="searchcontainer">
  <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile colspan="3">
        <mat-form-field>
          <input type="text" matInput [formControl]="searchText" placeholder="Search" [matAutocomplete]="auto">
          <mat-icon matSuffix>search</mat-icon>
          <mat-hint>Seach by zipcode, city, State</mat-hint>
        </mat-form-field>
      </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <button class='searchbtn' mat-raised-button appLoginbutton color="primary">Search</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
</mat-autocomplete>

