.example-container {
  display: flex;
  flex-direction: column;
}

mat-card-title {
   margin-left: 160px;
}

.login-card {
  margin: 8% 30%;
  width: 30%;
}

mat-card-actions {
  margin-left: 40%;
}

.errcls{
   background-color: red;
   margin-bottom: 10px;
   color: white;
}
