<mat-card  class="login-card">
  <mat-card-header>
      <mat-card-title><h2>Create Event Confirmation</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item><span class="left">Event Name:</span> <span class="right">Event Name:</span></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><span class="left">Event Host:</span> <span class="right">Event Host:</span></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><span class="left">Event Date:</span> <span class="right">Event Date:</span></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><span class="left">Event Time:</span> <span class="right">Event Time:</span></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><span class="left">Number of invites:</span> <span class="right">0:</span></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><span class="left">Address:</span> <span class="right">Event Date:</span></mat-list-item>
    </mat-list>
 </mat-card-content>
</mat-card>
